

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
   
<header class="header">
    <h1>To-Do List</h1>
</header>
{% block content %}
<main>
    
        <form enctype="multipart/form-data" method="post" action=".">
    
            {% csrf_token %}
            
                <h3>Task:</h3>
                {{ form.task_name }}
                <input class="save" type="submit" value="Save">
           
    
        </form>
    
        <div class="list">
            {% for task in tasks %}

            
        </div>

        <ul>
            <li> <a class="update" href="{% url 'update_task' task.id %}">Update</a></li>         
            <li><a class="delete" href="{% url 'delete' task.id %}">Delete</a></li>
            <li><h3>{{task.task_name}}</h3></li>
        </ul>
    
        {% endfor %}
    
    
</main>
{% endblock %}
</body>
</html>